body {
    font-family: "Nunito", sans-serif;
    ;
    margin: 0px;
}

nav,
a {
    cursor: pointer;
}

ul a {
    color: #7f7f94;
    ;
    text-decoration: none;
}

#home {
    color: #290029
}

span {
    color: #407cff;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 200px;
    background-color: white;
    position: fixed;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    padding: 10px 40px;
    font-size: 15px;
}

#nav-bar {
    color: #7f7f94;
    display: flex;
    gap: 30px;
}

.navbar a:hover {
    color: #290029;
}
.drop-down {
    position: relative;
}
.drop-down .dropdown {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    padding: 10px 0;
    top: 25px;
    left: 0;
    width: 180px;
    list-style: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 1000;
}
.drop-down:hover > .dropdown {
    display: block;
}

.drop-down .dropdown li a {
    display: block;
    padding: 10px 15px;
    color: #7f7f94;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.drop-down .dropdown li a:hover {
    background-color: #f3f8ff;
    color: #407cff;
}

.has-children {
    position: relative;
}

.has-children .dropdown {
    left: 180px;
    top: 0;
}
.drop-down:focus-within > .dropdown,
.drop-down:focus-within .dropdown {
    display: block !important;
    opacity: 1;
    visibility: visible;
}
.dropdown {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.drop-down:hover > .dropdown {
    display: block;
    opacity: 1;
    visibility: visible;
}
.has-children .dropdown {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 180px; 
    top: 0;
    background: #fff;
    padding: 10px 0;
    border: 1px solid #e8e8e8;
}
.has-children:hover {
    display: block;
    opacity: 1;
    visibility: visible;
}
.has-children .dropdown {
    display: none;
    opacity: 0;
    visibility: hidden;

    position: absolute;
    top: 0;
    left: 180px;
    min-width: 180px;

    background: white;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    padding: 10px 0;

    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    transition: opacity 0.2s ease-in-out;
}

.has-children .dropdown:hover {
    display: block;
    opacity: 1;
    visibility: visible;
}
.dropdown-icon{
 color:#7f7f94;
}
#options {
    margin-top: 25px;
    margin-left: 250px;
    font-size: 15px;
}

#sigin {
    border: 1px solid #e8e8e8;
    padding: 8px 25px;
    border-radius: 20px;
    margin-right: 10px;
    color: #7f7f94
}

#sigin:hover {
    color: #290029;
    border: 1px solid #290029;
}

#register {
    background-color: #407cff;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    color: white;
}

#launch-data {
    display: flex;
    width: 100%;
    padding: 50px 200px;
    margin-bottom: 100px;
}

#promote-your-products {
    width: 30%;
}

#promote-your-products h1 {
    font-size: 66px;
}

#promote-your-products p {
    color: #7f7f94;
    line-height: 1.5;
    margin-bottom: 40px;
}

#dots-image {
    top: 120px;
    right: 30px;
    position: absolute;
}

#promote-image {
    align-items: center;
    width: 40%;
    position: absolute;
    top: 130px;
    right: 15rem;
}

#see-features {
    background-color: #407cff;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 13px;
}

#pricing {
    border: 1px solid #407cff;
    border-radius: 25px;
    color: #407cff;
    padding: 15px 30px;
    margin-left: 10px;
    font-size: 13px;
}

#pricing:hover {
    background-color: #407cff;
    color: white;
}

#digital-services {
    display: flex;
    padding: 50px 200px;
    justify-content: space-between;
    /* gap:70px; */
}

#maindashbord-video {
    padding: 10px;
    border: 1px solid #f2f2f2;
    width: 600px;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

#digital-services-data {
    padding-right: 50px;
    width: 30%;
}

#digital-services-data h5 {
    color: #407cff
}

#selling-digital-services {
    margin-top: 5px;
    font-size: 45px;
    margin-bottom: 20px;
}

.selling-services-data {
    color: #9292a1;
    line-height: 1.5;
}

#selling-services-data2 {
    font-style: italic;
    color: #1f0010;
    line-height: 1.5;
}

#james-andersons-profile img {
    border: none;
    border-radius: 50%;
    padding-top: 10px;
}

#james-andersons-profile {
    display: flex;
    gap: 20px;
    font-size: 13px;
    margin-top: 10px;
}

#james-andersons-profile p {
    margin: 10px;
}

#facebook-product-lead {
    color: #9292a1;
    margin-top: 10px;
}

#advantages {
    padding: 50px 200px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

#advantages img {
    padding: 10px;
    border: 1px solid #f2f2f2;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grow-your-business {
    display: flex;
    margin-bottom: 25px;
    line-height: 1.5;
}

.grow-your-business-data {
    padding: 10px 20px;
}

.grow-your-business-icon {
    font-size: 20px;
    margin-top: 10px;
    margin-right: 15px;
    padding: 10px;
    height: 20px;
    width: 20px;
}

#icon1 {
    background-color: #6fe8de;
    color: white;
    border-radius: 30%;
}

#icon2 {
    background-color: #ffc83d;
    color: white;
    border-radius: 30%;
}

#icon3 {
    background-color: #f73959;
    color: white;
    border-radius: 30%;
}

#icon4 {
    background-color: #407cff;
    color: white;
    border-radius: 30%;
}

.different-advantages {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 18px;
}

.paragraph {
    margin-bottom: 0px;
    color: #9292a1
}

#features {
    padding: 50px 200px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.grow-your-business2 {
    margin-bottom: 50px;
    line-height: 1.5;
}

.grow-your-business2-icon {
    margin-bottom: 20px;
    width: 20px;
    padding: 15px;
    font-size: 20px;
}

#pricing-section {
    background-color: #f7f9fa;
    padding-top: 100px;
}

#pricing-section h1 {
    font-size: 40px;
    font-weight: 40;
    margin: 15px;
    text-align: center;
}

#data {
    color: #7f7f94;
    margin: 0px;
    text-align: center;
}

#pricing-types {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 300px;
    margin-top: 100px;
}

.price-details {
    width: 22%;
    padding: 5px 45px;
    background-color: white;
    border-radius: 40px;
    height: 500px;
}

.price-details h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 40;
}

.price-details h1 {
    color: #407cff
}

.ul-list {
    list-style-type: none;
    padding: 0px;
}

.ul-list li {
    display: flex;
    position: relative;
    margin-bottom: 10px;
    line-height: 1.5;
}

.ul-list p {
    margin: 10px;
    color: #7f7f94;
}

.ul-list i {
    margin-top: 10px;
    padding: 10px;
}

#price-details {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ;
}

#pricing-types a {
    border: 1px solid #407cff;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 32px;
}

#standard {
    background-color: #407cff;
    color: white;
}

.get-started:hover {
    background-color: #407cff;
    color: white;
}

#advantages-of-using-our-product {
    padding: 50px 200px;
}

#advatages-data {
    margin-top: 150px;
    text-align: center;
}

#advatages-data h1 {
    font-size: 40px;
    font-weight: 40;
    margin: 0px;
}

#advatages-data p {
    color: #7f7f94;
}

#grow-build {
    display: flex;
    justify-content: space-between;
}

#grow-build p {
    margin-bottom: 10px;
}

#success-bring {
    display: flex;
    justify-content: space-between;
}

.grow-your-business-data a {
    color: #407cff;
    font-size: 13px;
    line-height: 1.8;
}

#success-bring p {
    margin-bottom: 10px;
}

#pricing-2nd-section {
    display: flex;
    padding: 50px 200px;
    gap: 120px;
    justify-content: space-between;
}

#testimonials h2 {
    font-size: 35px;
}

#testimonials h5 {
    color: #407cff;
}

#testimonials a {
    background-color: #cccccc;
    color: white;
    padding: 10px;
}

#pricing-2nd-section p {
    color: #313134;
}

#about-us {
    display: flex;
    padding: 50px 200px;
}

#about-us img {
    width: 800px;
}

#about-us p {
    color: #7f7f94;
    line-height: 1.5;
}

#about-us h5 {
    color: #407cff;
}

#about-us i {
    padding: 5px 10px;
}

#memebers-team {
    display: flex;
    gap: 200px;
}

#news {
    text-align: center;
    font-size: 40px;
    font-weight: 50px;
    margin-bottom: 10px;
}

#far-from-the-countries {
    text-align: center;
    color: #7f7f94;
    margin: 0px;
}

#our-news {
    background-color: #f7f9fa;
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 100px;
}

#our-news img {
    width: 50px;
    border: none;
    border-radius: 50%;
    padding-top: 10px;
}

.publishers {
    display: flex;
}

.publishers h4 {
    margin-bottom: 0px;
    margin-top: 15px;
    font-size: 15px;
    padding: 0px 20px;
    color: black;
}

.publishers p {
    margin: 5px;
    color: #b8b8c2;
    padding: 0px 20px;
}

#our-news h5 {
    font-size: 15px;
    color: #b8b8c2;
}

.news-posted {
    padding: 20px;
    background-color: white;
}

.news-posted h1 {
    font-size: 30px;
}

.news-posted h1:hover {
    color: #407cff;
}

hr {
    width: 425%;
    color: #000000;
}

#first-last {
    display: flex;
    column-gap: 330px;

}

#email-hr {
    position: relative;
    width: 150%;
    right: -2px;
    color: #000000;
}

#send-message {
    padding: 13px 18px;
    background-color: #407cff;
    border-radius: 30px;
    border: none;
    color: #ffffff;
}

#main10-heading {
    justify-content: center;
    text-align: center;
}

#main10-inner1 {
    margin-left: 120px;
}

#contact10 {
    color: #000000;
    flex-direction: column;
    row-gap: 20px;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    list-style-type: none;
}

#contact10 li {
    margin-bottom: 20px;
}

#contact10 span {
    color: black;
}

#main10-total {
    display: flex;
    column-gap: 300px;
    margin-top: 30px;
}

#Contact-Info {
    margin-left: 70px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
}

#main10 {
    margin: 70px;
}

.icon11 {
    display: inline-block;
    padding: 8px;
    position: relative;
    background: #777;
    border-radius: 50%;
    color: #ffffff;
    border: 1px solid gray;
    margin-top: 20px;
}

#About-Launch {
    width: 28%;

}

#Far-far-away {
    margin: 45px 0px 45px 0px;
    font-size: 14px;
    color: #7f7f94;
    line-height: 1.5;
    padding-right: 10px;
}

.projects-sub {
    padding: 10px;
}

.projects-sub p {
    text-align: center;
}

.projects-sub ul {
    list-style-type: none;
    line-height: 1.8;
    color: #7f7f94;
}

#main11 {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    margin: 70px 80px 150px 80px;
    padding-top: 50px;
}

#Copyright {
    text-align: center;
    margin-top: -50px;
    padding-bottom: 70px;
    font-size: 14px;
    color: #888;
    font-family: "Nunito", sans-serif;
}

footer {
    background-color: #f0f0f0;
}

.redlove {
    color: #db3545;
}